{% extends 'baseHome.html' %}
{% load static %} 
{% block content %}    
<section class="bg-gray-200 py-24">
  <div class="max-w-4xl mx-auto text-center px-6">
    <h2 class="text-gray-600 tracking-widest text-lg font-semibold mb-4">ABOUT US</h2>
    <h1 class="text-3xl md:text-4xl font-bold text-green-800 mb-10">Cultivating Curious Minds</h1>
    <p class="text-gray-800 leading-relaxed text-lg">
      Born from a seed of wonder, AAIS sprouted to nurture blossoming minds 
      in an enriching, child-centered early learning environment. 
      Today, our roots weave a vibrant community of dedicated educators, 
      supportive families, and curious little explorers. 
      Together, we watch laughter bloom, imaginations take flight, 
      and tiny caterpillars transform into confident butterflies, 
      ready to embrace the world beyond.</p>
  </div>
</section>

<section class=" py-20">
  <div class="max-w-6xl mx-auto px-6">
    <div class="bg-[#d6b3a3] rounded-3xl p-10 md:p-14 
                md:flex md:items-center md:gap-12">
      <div class="md:w-1/2 text-white space-y-6">
        <h2 class="text-3xl font-bold">Our Vision</h2>
        <p class="leading-relaxed">
          At AAIS our vision is to provide a vigorous curriculum that empowers
          students for personal growth and lifelong learning.</p>

        <p class="leading-relaxed">
          We cultivate resilience and essential 21st-century skills,
          preparing them to thrive and positively impact global and
          local communities.
        </p>
      </div>
      <div class="md:w-1/2 mt-8 md:mt-0">
        <img src="{% static '/images/WIN_20260214_12_52_46_Pro.jpg' %}"
             alt="Vision Image"
             class="rounded-xl w-full">
      </div>
    </div>
  </div>
</section>

<section class=" pb-20">
  <div class="max-w-6xl mx-auto px-6">
    <div class="bg-[#7f9b86] rounded-3xl p-10 md:p-14 
                md:flex md:items-center md:gap-12">
      <div class="md:w-1/2 text-white space-y-6">
        <h2 class="text-3xl font-bold">Our Mission</h2>
        <p class="leading-relaxed">
          Our academic and extracurricular programs are carefully crafted
          to be engaging and meaningful.</p>

        <p class="leading-relaxed">
          We are passionate about ensuring our students become capable,
          responsible, and confident individuals.</p>
      </div>
      <div class="md:w-1/2 mt-8 md:mt-0">
        <img src="{% static '/images/WIN_20260214_12_53_08_Pro.jpg' %}"
             alt="Mission Image"
             class="rounded-xl w-full">
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 py-24">
  <div class="max-w-6xl mx-auto px-6 space-y-28">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div>
        <h2 class="text-3xl font-bold mb-6">A Vigorous Curriculum</h2>
        <p class="text-gray-700 leading-relaxed">
          We nurture the whole child through experiential education,
          encouraging emotional growth, creativity, and critical thinking.
          Our classrooms extend beyond walls into nature and community.</p>
      </div>
      <div>
        <img src="{% static '/images/WIN_20260214_12_53_28_Pro.jpg' %}" 
             class="rounded-2xl shadow-lg w-full">
      </div>
    </div>

    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div class="order-2 md:order-1">
        <img src="{% static '/images/DSC05095-scaled.jpg' %}" 
             class="rounded-2xl shadow-lg w-full">
      </div>
      <div class="order-1 md:order-2">
        <h2 class="text-3xl font-bold mb-6">Nature-Based Education</h2>
        <p class="text-gray-700 leading-relaxed">
          Our environment encourages outdoor exploration and
          environmental awareness. Children develop a deep respect
          for the Earth through hands-on learning experiences.</p>
      </div>
    </div>

    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div>
        <h2 class="text-3xl font-bold mb-6">Intercultural Community</h2>
        <p class="text-gray-700 leading-relaxed">
          We celebrate diversity and global perspectives,
          fostering empathy and understanding among students.</p>
      </div>
      <div>
        <img src="{% static '/images/DSC08020-1-1536x1026.jpg' %}" 
             class="rounded-2xl shadow-lg w-full">
      </div>
    </div>

    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div class="order-2 md:order-1">
        <img src="{% static '/images/DSC05100-1536x1536.jpg' %}" 
             class="rounded-2xl shadow-lg w-full">
      </div>
      <div class="order-1 md:order-2">
        <h2 class="text-3xl font-bold mb-6">Future-Ready Students</h2>
        <p class="text-gray-700 leading-relaxed">
          We equip students with resilience, confidence,
          and essential 21st-century skills to prepare them
          for meaningful futures both locally and globally.</p>
      </div>
    </div>
  </div>
</section>

<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-xl">
      <h2 class="text-3xl font-semibold tracking-tight text-pretty text-white sm:text-4xl">Meet our leadership</h2>
      <p class="mt-6 text-lg/8 text-gray-400">We’re a dynamic group of individuals who are passionate about what we do and dedicated to delivering the best results for our clients.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-16 rounded-full outline-1 -outline-offset-1 outline-white/10" />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-white">Leslie Alexander</h3>
            <p class="text-sm/6 font-semibold text-indigo-400">Co-Founder / CEO</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-16 rounded-full outline-1 -outline-offset-1 outline-white/10" />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-white">Michael Foster</h3>
            <p class="text-sm/6 font-semibold text-indigo-400">Co-Founder / CTO</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-16 rounded-full outline-1 -outline-offset-1 outline-white/10" />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-white">Dries Vincent</h3>
            <p class="text-sm/6 font-semibold text-indigo-400">Business Relations</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-16 rounded-full outline-1 -outline-offset-1 outline-white/10" />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-white">Lindsay Walton</h3>
            <p class="text-sm/6 font-semibold text-indigo-400">Front-end Developer</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-16 rounded-full outline-1 -outline-offset-1 outline-white/10" />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-white">Courtney Henry</h3>
            <p class="text-sm/6 font-semibold text-indigo-400">Designer</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-16 rounded-full outline-1 -outline-offset-1 outline-white/10" />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-white">Tom Cook</h3>
            <p class="text-sm/6 font-semibold text-indigo-400">Director of Product</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}